[submodule "tingle/tingle-text-field"]
	path = tingle/tingle-text-field
	url = git@gitlab.alibaba-inc.com:alinwmobile/tingle-text-field.git
[submodule "tingle/tingle-style"]
	path = tingle/tingle-style
	url = git@gitlab.alibaba-inc.com:alinwmobile/tingle-style.git
