body
    background-color #ddd 
    
.tInput
    border none
    outline none
    width 100%
.isAndroid .tInput
    position relative
    top -1px
    // background-color #eee
.isAndroid.isNotChrome .tInput
    position relative
    top 1px

.tInputTAR .tInput
    position relative
    // text-align right

.tTextField, .tPhotoField
    min-height 44px 