/**
 * GroupList Component Style for tingle
 * @author jiasong.js
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */
// If you need tingle-style's utils, open the line below.

@require '../node_modules/tingle-style/src/var'

.tGroupListHeader
  font-size rem(28)
  padding-left rem(40)
  padding-bottom rem(20)
  padding-top rem(20)

.tGroupList
  background-color #fff
  margin-bottom rem(20)
  border-top 1px solid #e6e6e6
  border-bottom 1px solid #e6e6e6

.tGroupListItem
  border-bottom 1px solid #e6e6e6
  &:last-child
    border-bottom none

.hairline
  .tGroupList
    border-top-width rem(1)
    border-bottom-width rem(1)
  .tGroupListItem
    border-bottom-width rem(1)
