/**
 * GroupList Component Style for tingle
 * @author jiasong.js
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */

@require '../node_modules/tingle-style/src/var'

// 未来的可配置项
tGroupListLineColor = #ddd
tGroupListHairlineColor = #ccc

.tGroupList
  border-top 1px solid tGroupListLineColor
  border-bottom 1px solid tGroupListLineColor
  .hairline &
    border-top 0.5px solid tGroupListHairlineColor
    border-bottom 0.5px solid tGroupListHairlineColor
  & + &
    border-top none
.tGroupListItem
  position relative
  min-height 44px
  &:after
    content ''
    position absolute
    bottom 0
    left 0
    right 0
    border-bottom 1px solid tGroupListLineColor
  &:last-child:after
    border-bottom none
  .hairline &:after
    border-bottom 0.5px soild tGroupListHairlineColor
