/**
 * GroupList Component Style for tingle
 * @author jiasong.js
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */

@require '../node_modules/tingle-style/src/var'

// 未来的可配置项
tGroupListLineColor = #ddd
tGroupListHairlineColor = #ccc

.tGroupList
  border-top 1px solid tGroupListLineColor
  border-bottom 1px solid tGroupListLineColor
.hairline .tGroupList
  border-top rem(1) solid tGroupListHairlineColor
  border-bottom rem(1) solid tGroupListHairlineColor
.tGroupList + .tGroupList
  border-top none

.tGroupListItem
  position relative
  min-height 44px
.tGroupListItem:after
  content ''
  position absolute
  bottom 0
  left 0
  right 0
  border-bottom 1px solid tGroupListLineColor
.hairline .tGroupListItem:after
  border-bottom rem(1) solid tGroupListHairlineColor
.tGroupListItem:last-child:after
  border-bottom none
